{% extends 'base.html.twig' %}

{% block body %}
	<div class="container mt-5">
		<div
			class="row">
			<!-- Product Images -->
			<div class="col-md-6 mb-4">
				{% dump product %}
				<img src="{{product.image[0].url}}" alt="Product" class="img-fluid rounded mb-3 product-image" id="mainImage">
			</div>

			<div class="col-md-6">
				<h2 class="mb-3">{{product.name | trans}}</h2>
				<div class="mb-3">
					<span class="h4 me-2">${{product.price}}</span>
					<span class="text-muted">
						<s>$399.99</s>
					</span>
				</div>
				<p class="mb-4"></p>

				<div class="mb-4">
					<label for="quantity" class="form-label">Quantity:</label>
					{% if product.stock > 0 %}
						<input type="number" class="form-control" id="quantity" value="1" min="1" max="{{ product.stock }}" style="width: 80px;">
					{% else %}
						<p>Ce produit n'est plus disponible.</p>
					{% endif %}
				</div>
				<button class="btn btn-primary btn-lg mb-3 me-2" {% if not is_granted('IS_AUTHENTICATED_FULLY') %} disabled {% endif %}>
					<i class="bi bi-cart-plus"></i>
					Add to Cart
				</button>
				<div class="d-flex">
					<div class="mt-4">
						<h5>Catégories</h5>
						<ul>
							{% for category in product.categories %}
								<li>
									<a href="{{ path('app_category', {'id': category.id, 'name': category.name|lower|replace({' ': '_'})}) }}">{{ category.name }}</a>
								</li>
							{% endfor %}
						</ul>
					</div>
					<div class="mt-4">
						<h5>VTuber</h5>
						<ul>
							{% for vtuber in product.vtuber %}
								<li>
									<a>{{vtuber.name }}</a>
								</li>
							{% endfor %}
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
