<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
	<div class="container-fluid">
		<a class="navbar-brand" href={{path('home')}}>
			<img src="{{ asset('images/LOGO_UWUMARKET_3c875d48-e3c8-4942-92e7-13100df8f660.png') }}" alt="Logo UWUMarket" height="50">
		</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarColor01">
			<ul class="navbar-nav me-auto">
				<li class="nav-item">
					<a class="nav-link" href="{{path('app_vtuber')}}">{{ "navbar.creator" | trans}}</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{path('app_categories')}}">{{ "navbar.category" | trans}}</a>
				</li>
			</ul>
			<form class="d-flex">
				<input class="form-control me-sm-2" type="search" placeholder="Search">
				<button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
			</form>
			{% if is_granted('IS_AUTHENTICATED_FULLY') %}
				{% if is_granted('ROLE_ADMIN') %}
					<a href="{{ path('app_admin') }}" class="btn btn-primary">Admin</a>
				{% else %}
					<a href="{{ path('app_cart') }}" class="btn btn-primary">Cart</a>
				{% endif %}
				<a href="{{ path('app_logout') }}" class="btn btn-primary">Logout</a>
			{% else %}
				<a href="{{ path('app_login') }}" class="btn btn-primary">Login</a>
			{% endif %}

		</div>
	</div>
</nav>
